<div class="messages-container">
  <div class="chat-message other-user" *ngFor="let message of messages">
    <div class="name-logo">{{message.sender}}</div>
    <div class="message-content-container">
      <div  class="arrow right"></div>
      <div class="message-content">{{message.content}}</div>
    </div>
  </div>
  <div class="chat-message">
    <div class="name-logo">IZ</div>
    <div class="message-content-container">
      <div  class="arrow left"></div>
      <div class="message-content">hello hello hello hello</div>
    </div>
  </div>
  <div class="chat-message other-user">
    <div class="name-logo">IZ</div>
    <div class="message-content-container">
      <div  class="arrow right"></div>
      <div class="message-content">hello hello </div>
    </div>
  </div>
</div>
