:host {
  .new-user-container{
    display: flex;
    flex-direction: column;
    .input-desc{
      font-size: 19px;
      color: gray;
      height: 20px;
    }
    .input-active{
      border-top: none;
      border-right: none;
      border-left: none;
      height: 30px;
      font-size: 20px;
      display: flex;
      padding-top: 10px;

      &:focus{
        outline: none;
      }
    }
  }
}
